### Merge mosquito and town data file (from merge_MosquitoTowndata) with climate and land cover data

In [74]:
#Import libraries
import os
import pandas as pd
import numpy as np

In [75]:
mosdat = pd.read_csv("/Users/lbrown01/Dropbox/DataScienceStuff/Data/WNV_EE/MosTowndat.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,9,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
mosdat.head(5)

,TOWN,TOWN_ID,POP1980,POP1990,POP2000,POPCH80_90,POPCH90_00,TYPE,ISLAND,COASTAL_PO,...,Species,Date,Town,State,County,Test_Type,Result,Submitted_for_Testing,DOY,Year
0,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Culiseta_melanura,2006-09-15,Hingham,MA,Plymouth,EEE,Positive,Yes,258,2006
1,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Culiseta_melanura,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013
2,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Coquillettidia_perturbans,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013
3,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Culiseta_melanura,2013-08-22,Hingham,MA,Plymouth,WNv,Positive,Yes,234,2013
4,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Aedes_vexans,2005-06-22,Hingham,MA,Plymouth,"EEE,_WNv",Negative,Yes,173,2005

In [77]:
mosdat['yr_doy'] = mosdat.Year.astype(str) + '_' + mosdat.DOY.astype(str)

In [78]:
mosdat.head(4)

,TOWN,TOWN_ID,POP1980,POP1990,POP2000,POPCH80_90,POPCH90_00,TYPE,ISLAND,COASTAL_PO,...,Date,Town,State,County,Test_Type,Result,Submitted_for_Testing,DOY,Year,yr_doy
0,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,2006-09-15,Hingham,MA,Plymouth,EEE,Positive,Yes,258,2006,2006_258
1,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234
2,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234
3,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,2013-08-22,Hingham,MA,Plymouth,WNv,Positive,Yes,234,2013,2013_234

In [79]:
mosdat['twn_yr_doy'] = mosdat.TOWN + '_' + mosdat.Year.astype(str) + '_' + mosdat.DOY.astype(str)

In [80]:
mosdat.head(5)

,TOWN,TOWN_ID,POP1980,POP1990,POP2000,POPCH80_90,POPCH90_00,TYPE,ISLAND,COASTAL_PO,...,Town,State,County,Test_Type,Result,Submitted_for_Testing,DOY,Year,yr_doy,twn_yr_doy
0,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Hingham,MA,Plymouth,EEE,Positive,Yes,258,2006,2006_258,HINGHAM_2006_258
1,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234
2,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234
3,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Hingham,MA,Plymouth,WNv,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234
4,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,Hingham,MA,Plymouth,"EEE,_WNv",Negative,Yes,173,2005,2005_173,HINGHAM_2005_173

In [81]:
mosdat.columns

Index(['TOWN', 'TOWN_ID', 'POP1980', 'POP1990', 'POP2000', 'POPCH80_90',
       'POPCH90_00', 'TYPE', 'ISLAND', 'COASTAL_PO', 'FOURCOLOR', 'FIPS_STCO',
       'CCD_MCD', 'FIPS_PLACE', 'FIPS_MCD', 'FIPS_COUNT', 'ACRES',
       'SQUARE_MIL', 'POP2010', 'POPCH00_10', 'SHAPE_Leng', 'SHAPE_Area',
       'geometry', 'Specimen_Type', 'Sample_ID', 'Species', 'Date', 'Town',
       'State', 'County', 'Test_Type', 'Result', 'Submitted_for_Testing',
       'DOY', 'Year', 'yr_doy', 'twn_yr_doy'],
      dtype='object')

In [82]:
mosdat.Submitted_for_Testing.value_counts()

No     161832
Yes     98468
Name: Submitted_for_Testing, dtype: int64

In [83]:
mosdat.Result.value_counts() #number positive and number tested (negative) agrees with other data

Negative    94410
Positive     4059
Name: Result, dtype: int64

Read in land cover data

In [84]:
#os.listdir("/Users/lbrown01/Dropbox/DataScienceStuff/Data/RasterShapefiles/NLCD/") 
LCdat2011 = pd.read_csv("/Users/lbrown01/Dropbox/DataScienceStuff/Data/RasterShapefiles/NLCD/townLC2011fin_2.csv")

In [85]:
LCdat2011.head(5)

,town,townID,totpixels,openwater,devopen,devlow,devmed,devhigh,barrenrock,decidforest,...,CPforest,CPshrubscrub,CPlowdev,CPhighdev,CPgrass,CPemherbwet,CPwoodywet,CPopenwater,nmds2011.1,nmds2011.2
0,HINGHAM,131,65279,870,11655,9732,5460,1579,368,6849,...,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161
1,QUINCY,243,49828,1353,2336,4876,17437,8504,401,6391,...,0.213113,0.002890,0.144738,0.520611,0.006442,0.049711,0.027234,0.027153,0.454320,0.154488
2,WELLESLEY,317,30305,1143,10375,8050,3534,1195,8,1627,...,0.150305,0.000297,0.607985,0.156047,0.006798,0.001023,0.039498,0.037717,0.028367,0.545393
3,MARSHFIELD,171,82173,1084,10233,9473,6094,1280,1166,2722,...,0.378835,0.000268,0.239811,0.089738,0.018193,0.135702,0.103452,0.013192,0.045743,0.075329
4,BROCKTON,44,61928,319,8345,12406,22594,6794,64,5106,...,0.116183,0.000420,0.335083,0.474551,0.010415,0.001130,0.055629,0.005151,0.373159,0.368458

In [86]:
LCdat2011.shape

(351, 47)

In [87]:
#rename town to be in all caps to match mosdat dataframe
LCdat2011 = LCdat2011.rename(columns={"town":"TOWN"})

In [88]:
LCdat2011.head(4)

,TOWN,townID,totpixels,openwater,devopen,devlow,devmed,devhigh,barrenrock,decidforest,...,CPforest,CPshrubscrub,CPlowdev,CPhighdev,CPgrass,CPemherbwet,CPwoodywet,CPopenwater,nmds2011.1,nmds2011.2
0,HINGHAM,131,65279,870,11655,9732,5460,1579,368,6849,...,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161
1,QUINCY,243,49828,1353,2336,4876,17437,8504,401,6391,...,0.213113,0.002890,0.144738,0.520611,0.006442,0.049711,0.027234,0.027153,0.454320,0.154488
2,WELLESLEY,317,30305,1143,10375,8050,3534,1195,8,1627,...,0.150305,0.000297,0.607985,0.156047,0.006798,0.001023,0.039498,0.037717,0.028367,0.545393
3,MARSHFIELD,171,82173,1084,10233,9473,6094,1280,1166,2722,...,0.378835,0.000268,0.239811,0.089738,0.018193,0.135702,0.103452,0.013192,0.045743,0.075329

Merge mosquito data with 2011 land cover  
Later wish to add all years land cover, but just using 2011 for now

In [89]:
mosdat_LC = pd.merge(mosdat,LCdat2011,on="TOWN",how="left")

In [90]:
mosdat_LC.head(4)

,TOWN,TOWN_ID,POP1980,POP1990,POP2000,POPCH80_90,POPCH90_00,TYPE,ISLAND,COASTAL_PO,...,CPforest,CPshrubscrub,CPlowdev,CPhighdev,CPgrass,CPemherbwet,CPwoodywet,CPopenwater,nmds2011.1,nmds2011.2
0,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161
1,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161
2,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161
3,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,...,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161

In [91]:
mosdat_LC.shape #confirm that no mosquito data rows were lost in the merge[-r] :)

(260300, 83)

In [92]:
mosdat.shape

(260300, 37)

In [93]:
#list(mosdat_LC.columns)

Read in climate data: mean temperature and precipitation

In [173]:
#os.listdir("/Users/lbrown01/Dropbox/DataScienceStuff/Data/RasterShapefiles/PRISM2/") 
ppt = pd.read_csv("/Users/lbrown01/Dropbox/DataScienceStuff/Data/RasterShapefiles/PRISM2/exdat_pptFIN3.csv")

In [174]:
#os.listdir("/Users/lbrown01/Dropbox/DataScienceStuff/Data/RasterShapefiles/PRISM2/") 
tmean = pd.read_csv("/Users/lbrown01/Dropbox/DataScienceStuff/Data/RasterShapefiles/PRISM2/exdat_tmeanFIN3.csv")

In [175]:
tmean.shape

(2057454, 17)

In [176]:
ppt.shape

(2057454, 17)

In [177]:
mosdat_LC.TOWN.nunique()

309

In [178]:
tmean.head(5)

,x,y,town,variable,value,date,clim,Fval,year,month,day,date2,doy,yr_doy,avgT7,avgT14,avgT21
0,-70.959037,42.118045,ABINGTON,PRISM_tmean_stable_4kmD2_20040101_bil,3.740,20040101,tmean,38.732000,2004,1,1,2004-01-01,1,2004_1,3.740,3.740,3.740
1,-71.437773,42.484305,ACTON,PRISM_tmean_stable_4kmD2_20040101_bil,3.626,20040101,tmean,38.526800,2004,1,1,2004-01-01,1,2004_1,3.626,3.626,3.626
2,-70.901165,41.714018,ACUSHNET,PRISM_tmean_stable_4kmD2_20040101_bil,4.339,20040101,tmean,39.810200,2004,1,1,2004-01-01,1,2004_1,4.339,4.339,4.339
3,-73.118734,42.626851,ADAMS,PRISM_tmean_stable_4kmD2_20040101_bil,2.305,20040101,tmean,36.149000,2004,1,1,2004-01-01,1,2004_1,2.305,2.305,2.305
4,-72.652552,42.065729,AGAWAM,PRISM_tmean_stable_4kmD2_20040101_bil,4.514,20040101,tmean,40.125201,2004,1,1,2004-01-01,1,2004_1,4.514,4.514,4.514

In [179]:
ppt.head(5)

,x,y,town,variable,value,date,clim,Fval,year,month,day,date2,doy,yr_doy,ppt7,ppt14,ppt21
0,-70.959037,42.118045,ABINGTON,PRISM_ppt_stable_4kmD2_20040101_bil,0.0,20040101,ppt,NaN,2004,1,1,2004-01-01,1,2004_1,0.0,0.0,0.0
1,-71.437773,42.484305,ACTON,PRISM_ppt_stable_4kmD2_20040101_bil,0.0,20040101,ppt,NaN,2004,1,1,2004-01-01,1,2004_1,0.0,0.0,0.0
2,-70.901165,41.714018,ACUSHNET,PRISM_ppt_stable_4kmD2_20040101_bil,0.0,20040101,ppt,NaN,2004,1,1,2004-01-01,1,2004_1,0.0,0.0,0.0
3,-73.118734,42.626851,ADAMS,PRISM_ppt_stable_4kmD2_20040101_bil,0.0,20040101,ppt,NaN,2004,1,1,2004-01-01,1,2004_1,0.0,0.0,0.0
4,-72.652552,42.065729,AGAWAM,PRISM_ppt_stable_4kmD2_20040101_bil,0.0,20040101,ppt,NaN,2004,1,1,2004-01-01,1,2004_1,0.0,0.0,0.0

In [180]:
#rename town to be in all caps to match mosdat_LC dataframe
ppt = ppt.rename(columns={"town":"TOWN"})

In [205]:
ppt.TOWN.value_counts() #extra values for Boston, drop duplicates

BOSTON              12054
WEST BROOKFIELD      5844
WESTWOOD             5844
GREENFIELD           5844
HUDSON               5844
BECKET               5844
EASTHAM              5844
TAUNTON              5844
STOCKBRIDGE          5844
HOPEDALE             5844
WORTHINGTON          5844
DUXBURY              5844
NORTON               5844
ORLEANS              5844
SPENCER              5844
PELHAM               5844
NORTH BROOKFIELD     5844
WEST BRIDGEWATER     5844
CUMMINGTON           5844
WEST TISBURY         5844
CHESHIRE             5844
PLYMOUTH             5844
METHUEN              5844
BOYLSTON             5844
OAK BLUFFS           5844
GOSHEN               5844
BEVERLY              5844
MEDFIELD             5844
LONGMEADOW           5844
CONWAY               5844
                    ...
KINGSTON             5844
LITTLETON            5844
DEDHAM               5844
HATFIELD             5844
FALMOUTH             5844
HARWICH              5844
ROCKPORT             5844
SAUGUS               5844
LENOX                5844
PEPPERELL            5844
BLACKSTONE           5844
NORTH ADAMS          5844
TOPSFIELD            5844
WOBURN               5844
BOLTON               5844
SOMERVILLE           5844
WENDELL              5844
SWAMPSCOTT           5844
WORCESTER            5844
NORTHBOROUGH         5844
MALDEN               5844
BARNSTABLE           5844
PROVINCETOWN         5844
GROTON               5844
SHELBURNE            5844
LUDLOW               5844
NAHANT               5844
CHESTER              5844
CARLISLE             5844
HOPKINTON            5844
Name: TOWN, Length: 351, dtype: int64

In [181]:
#rename town to be in all caps to match mosdat_LC dataframe
tmean = tmean.rename(columns={"town":"TOWN"})

In [182]:
ppt['twn_yr_doy'] = ppt.TOWN + '_' + ppt.year.astype(str) + '_' + ppt.doy.astype(str)

In [183]:
tmean['twn_yr_doy'] = tmean.TOWN + '_' + tmean.year.astype(str) + '_' + tmean.doy.astype(str)

In [186]:
ppt.tail()

,x,y,TOWN,variable,value,date,clim,Fval,year,month,day,date2,doy,yr_doy,ppt7,ppt14,ppt21,twn_yr_doy
2057449,-71.134817,42.246491,BOSTON,PRISM_ppt_stable_4kmD2_20190626_bil,4.971115,20190626,ppt,NaN,2019,6,26,2019-06-26,177,2019_177,5.401231,4.490437,4.136390,BOSTON_2019_177
2057450,-71.134817,42.246491,BOSTON,PRISM_ppt_stable_4kmD2_20190627_bil,0.000000,20190627,ppt,NaN,2019,6,27,2019-06-27,178,2019_178,5.320104,4.490437,4.009405,BOSTON_2019_178
2057451,-71.134817,42.246491,BOSTON,PRISM_ppt_stable_4kmD2_20190628_bil,0.000000,20190628,ppt,NaN,2019,6,28,2019-06-28,179,2019_179,1.291995,3.164107,4.004852,BOSTON_2019_179
2057452,-71.134817,42.246491,BOSTON,PRISM_ppt_stable_4kmD2_20190629_bil,7.679962,20190629,ppt,NaN,2019,6,29,2019-06-29,180,2019_180,1.828016,3.712275,4.370564,BOSTON_2019_180
2057453,-71.134817,42.246491,BOSTON,PRISM_ppt_stable_4kmD2_20190630_bil,22.819423,20190630,ppt,NaN,2019,6,30,2019-06-30,181,2019_181,5.067214,5.299558,5.457203,BOSTON_2019_181

In [187]:
tmean.tail()

,x,y,TOWN,variable,value,date,clim,Fval,year,month,day,date2,doy,yr_doy,avgT7,avgT14,avgT21,twn_yr_doy
2057449,-71.13482,42.24649,BOSTON,PRISM_tmean_stable_4kmD2_20190626_bil,20.52954,20190626,tmean,68.95317,2019,6,26,2019-06-26,177,2019_177,20.81927,19.90671,20.01555,BOSTON_2019_177
2057450,-71.13482,42.24649,BOSTON,PRISM_tmean_stable_4kmD2_20190627_bil,20.04650,20190627,tmean,68.08370,2019,6,27,2019-06-27,178,2019_178,20.91995,20.01419,19.85441,BOSTON_2019_178
2057451,-71.13482,42.24649,BOSTON,PRISM_tmean_stable_4kmD2_20190628_bil,20.45250,20190628,tmean,68.81450,2019,6,28,2019-06-28,179,2019_179,21.21612,20.50479,19.85566,BOSTON_2019_179
2057452,-71.13482,42.24649,BOSTON,PRISM_tmean_stable_4kmD2_20190629_bil,24.39389,20190629,tmean,75.90899,2019,6,29,2019-06-29,180,2019_180,21.88855,20.87136,20.06895,BOSTON_2019_180
2057453,-71.13482,42.24649,BOSTON,PRISM_tmean_stable_4kmD2_20190630_bil,23.59704,20190630,tmean,74.47467,2019,6,30,2019-06-30,181,2019_181,22.16028,20.91444,20.32593,BOSTON_2019_181

Merge mosquito-landcover dataframe with ppt dataframe and tmean dataframe

In [188]:
ppt[['ppt7','ppt14','ppt21','twn_yr_doy']].head(5)

   ppt7  ppt14  ppt21       twn_yr_doy
0   0.0    0.0    0.0  ABINGTON_2004_1
1   0.0    0.0    0.0     ACTON_2004_1
2   0.0    0.0    0.0  ACUSHNET_2004_1
3   0.0    0.0    0.0     ADAMS_2004_1
4   0.0    0.0    0.0    AGAWAM_2004_1

In [206]:
pptlim = ppt[['ppt7','ppt14','ppt21','twn_yr_doy','TOWN']]

In [207]:
tlim = tmean[['avgT7','avgT14','avgT21','twn_yr_doy','TOWN']]

In [199]:
pptlim.shape

(2057454, 5)

In [200]:
#create new dataframe of only duplicated sample IDs and 
testppt = pptlim[pptlim.duplicated(['twn_yr_doy'],keep=False)] #these are all Boston
testppt.head()
testppt.sort_values(by=['twn_yr_doy']).head()

             ppt7     ppt14     ppt21      twn_yr_doy    TOWN
2045400  0.000000  0.000000  0.000000   BOSTON_2004_1  BOSTON
2051610  5.067214  5.073280  5.457203   BOSTON_2004_1  BOSTON
2045766  3.554148  4.017264  2.695879   BOSTON_2004_1  BOSTON
2045775  2.962313  1.637736  3.633282  BOSTON_2004_10  BOSTON
2051619  2.962313  3.816264  4.344586  BOSTON_2004_10  BOSTON

In [208]:
#drop duplicates in pptlim file
pptlim.drop_duplicates(subset ="twn_yr_doy", inplace = True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [212]:
pptlim.TOWN.value_counts()
pptlim.head()
pptlim.shape

(2051244, 5)

In [213]:
mosdat_LC_clim1 = pd.merge(mosdat_LC,pptlim,on="twn_yr_doy",how="left")

In [214]:
mosdat_LC.shape

(260300, 83)

In [215]:
mosdat_LC_clim1.shape #no extra rows here, Phew!

(260300, 87)

In [216]:
pd.options.display.max_columns = None
mosdat_LC_clim1.head()

,TOWN_x,TOWN_ID,POP1980,POP1990,POP2000,POPCH80_90,POPCH90_00,TYPE,ISLAND,COASTAL_PO,FOURCOLOR,FIPS_STCO,CCD_MCD,FIPS_PLACE,FIPS_MCD,FIPS_COUNT,ACRES,SQUARE_MIL,POP2010,POPCH00_10,SHAPE_Leng,SHAPE_Area,geometry,Specimen_Type,Sample_ID,Species,Date,Town,State,County,Test_Type,Result,Submitted_for_Testing,DOY,Year,yr_doy,twn_yr_doy,townID,totpixels,openwater,devopen,devlow,devmed,devhigh,barrenrock,decidforest,evergrnfor,mixedforest,shrubscrub,grassherb,pasturehay,cultcrop,woodywet,emergherbwet,RPopenwater,RPdevopen,RPdevlow,RPdevmed,RPdevhigh,RPbarrenrock,RPdecidforest,RPevergrnfor,RPmixedforest,RPshrubscrub,RPgrassherb,RPpasturehay,RPcultcrop,RPwoodywet,RPemergherbwet,Cforest,Clowdev,Chighdev,Cgrass,CPforest,CPshrubscrub,CPlowdev,CPhighdev,CPgrass,CPemherbwet,CPwoodywet,CPopenwater,nmds2011.1,nmds2011.2,ppt7,ppt14,ppt21,TOWN_y
0,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,SL06-0129,Culiseta_melanura,2006-09-15,Hingham,MA,Plymouth,EEE,Positive,Yes,258,2006,2006_258,HINGHAM_2006_258,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.961531,1.318439,2.320388,HINGHAM
1,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,SL13-0015,Culiseta_melanura,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.063510,3.962908,3.061762,HINGHAM
2,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,SL13-0016,Coquillettidia_perturbans,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.063510,3.962908,3.061762,HINGHAM
3,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",mosquito,PY13-0323,Culiseta_melanura,2013-08-22,Hingham,MA,Plymouth,WNv,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.063510,3.962908,3.061762,HINGHAM
4,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,PY05-00073,Aedes_vexans,2005-06-22,Hingham,MA,Plymouth,"EEE,_WNv",Negative,Yes,173,2005,2005_173,HINGHAM_2005_173,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.901592,2.175255,1.450170,HINGHAM

In [217]:
mosdat_LC_clim1.columns

Index(['TOWN_x', 'TOWN_ID', 'POP1980', 'POP1990', 'POP2000', 'POPCH80_90',
       'POPCH90_00', 'TYPE', 'ISLAND', 'COASTAL_PO', 'FOURCOLOR', 'FIPS_STCO',
       'CCD_MCD', 'FIPS_PLACE', 'FIPS_MCD', 'FIPS_COUNT', 'ACRES',
       'SQUARE_MIL', 'POP2010', 'POPCH00_10', 'SHAPE_Leng', 'SHAPE_Area',
       'geometry', 'Specimen_Type', 'Sample_ID', 'Species', 'Date', 'Town',
       'State', 'County', 'Test_Type', 'Result', 'Submitted_for_Testing',
       'DOY', 'Year', 'yr_doy', 'twn_yr_doy', 'townID', 'totpixels',
       'openwater', 'devopen', 'devlow', 'devmed', 'devhigh', 'barrenrock',
       'decidforest', 'evergrnfor', 'mixedforest', 'shrubscrub', 'grassherb',
       'pasturehay', 'cultcrop', 'woodywet', 'emergherbwet', 'RPopenwater',
       'RPdevopen', 'RPdevlow', 'RPdevmed', 'RPdevhigh', 'RPbarrenrock',
       'RPdecidforest', 'RPevergrnfor', 'RPmixedforest', 'RPshrubscrub',
       'RPgrassherb', 'RPpasturehay', 'RPcultcrop', 'RPwoodywet',
       'RPemergherbwet', 'Cforest', 'Clowdev', 'Chighdev', 'Cgrass',
       'CPforest', 'CPshrubscrub', 'CPlowdev', 'CPhighdev', 'CPgrass',
       'CPemherbwet', 'CPwoodywet', 'CPopenwater', 'nmds2011.1', 'nmds2011.2',
       'ppt7', 'ppt14', 'ppt21', 'TOWN_y'],
      dtype='object')

In [218]:
tlim.head(5)
tlim.shape

(2057454, 5)

In [219]:
#create new dataframe of only duplicated ppt rows
testT = tlim[tlim.duplicated(['twn_yr_doy'],keep=False)]

In [221]:
#again duplicates are only Bostn
#testT.sort_values(by=['twn_yr_doy'])

In [224]:
tlim.drop_duplicates(subset ="twn_yr_doy", inplace = True) 
tlim.shape

(2051244, 5)

In [225]:
mosdat_LC_clim2 = pd.merge(mosdat_LC_clim1,tlim,on="twn_yr_doy",how="left")

In [227]:
mosdat_LC_clim2.shape

(260300, 91)

In [229]:
pd.options.display.max_columns = None
mosdat_LC_clim2.head()

,TOWN_x,TOWN_ID,POP1980,POP1990,POP2000,POPCH80_90,POPCH90_00,TYPE,ISLAND,COASTAL_PO,FOURCOLOR,FIPS_STCO,CCD_MCD,FIPS_PLACE,FIPS_MCD,FIPS_COUNT,ACRES,SQUARE_MIL,POP2010,POPCH00_10,SHAPE_Leng,SHAPE_Area,geometry,Specimen_Type,Sample_ID,Species,Date,Town,State,County,Test_Type,Result,Submitted_for_Testing,DOY,Year,yr_doy,twn_yr_doy,townID,totpixels,openwater,devopen,devlow,devmed,devhigh,barrenrock,decidforest,evergrnfor,mixedforest,shrubscrub,grassherb,pasturehay,cultcrop,woodywet,emergherbwet,RPopenwater,RPdevopen,RPdevlow,RPdevmed,RPdevhigh,RPbarrenrock,RPdecidforest,RPevergrnfor,RPmixedforest,RPshrubscrub,RPgrassherb,RPpasturehay,RPcultcrop,RPwoodywet,RPemergherbwet,Cforest,Clowdev,Chighdev,Cgrass,CPforest,CPshrubscrub,CPlowdev,CPhighdev,CPgrass,CPemherbwet,CPwoodywet,CPopenwater,nmds2011.1,nmds2011.2,ppt7,ppt14,ppt21,TOWN_y,avgT7,avgT14,avgT21,TOWN
0,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,SL06-0129,Culiseta_melanura,2006-09-15,Hingham,MA,Plymouth,EEE,Positive,Yes,258,2006,2006_258,HINGHAM_2006_258,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.961531,1.318439,2.320388,HINGHAM,16.793327,17.497297,17.324586,HINGHAM
1,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,SL13-0015,Culiseta_melanura,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.063510,3.962908,3.061762,HINGHAM,21.832000,21.626950,21.468120,HINGHAM
2,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,SL13-0016,Coquillettidia_perturbans,2013-08-22,Hingham,MA,Plymouth,EEE,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.063510,3.962908,3.061762,HINGHAM,21.832000,21.626950,21.468120,HINGHAM
3,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",mosquito,PY13-0323,Culiseta_melanura,2013-08-22,Hingham,MA,Plymouth,WNv,Positive,Yes,234,2013,2013_234,HINGHAM_2013_234,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.063510,3.962908,3.061762,HINGHAM,21.832000,21.626950,21.468120,HINGHAM
4,HINGHAM,131.0,19942.0,19821.0,19882.0,-121.0,61.0,T,1.0,NO,3.0,25023.0,50.0,30210.0,25023050.0,23.0,0.346,0.001,22157.0,2275.0,168.390859,1401.885,"POLYGON ((252166.0925000012 890240.9946000017,...",Mosquito,PY05-00073,Aedes_vexans,2005-06-22,Hingham,MA,Plymouth,"EEE,_WNv",Negative,Yes,173,2005,2005_173,HINGHAM_2005_173,131.0,65279.0,870.0,11655.0,9732.0,5460.0,1579.0,368.0,6849.0,5822.0,12697.0,81.0,1173.0,274.0,6.0,7681.0,1032.0,0.013327,0.178541,0.149083,0.083641,0.024188,0.005637,0.104919,0.089186,0.194504,0.001241,0.017969,0.004197,0.000092,0.117664,0.015809,25368.0,21387.0,7039.0,1447.0,0.388609,0.001241,0.327625,0.107829,0.022166,0.015809,0.117664,0.013327,0.008542,0.137161,0.901592,2.175255,1.450170,HINGHAM,15.217756,19.165582,18.986280,HINGHAM

In [230]:
mosdat_LC_clim2.columns

Index(['TOWN_x', 'TOWN_ID', 'POP1980', 'POP1990', 'POP2000', 'POPCH80_90',
       'POPCH90_00', 'TYPE', 'ISLAND', 'COASTAL_PO', 'FOURCOLOR', 'FIPS_STCO',
       'CCD_MCD', 'FIPS_PLACE', 'FIPS_MCD', 'FIPS_COUNT', 'ACRES',
       'SQUARE_MIL', 'POP2010', 'POPCH00_10', 'SHAPE_Leng', 'SHAPE_Area',
       'geometry', 'Specimen_Type', 'Sample_ID', 'Species', 'Date', 'Town',
       'State', 'County', 'Test_Type', 'Result', 'Submitted_for_Testing',
       'DOY', 'Year', 'yr_doy', 'twn_yr_doy', 'townID', 'totpixels',
       'openwater', 'devopen', 'devlow', 'devmed', 'devhigh', 'barrenrock',
       'decidforest', 'evergrnfor', 'mixedforest', 'shrubscrub', 'grassherb',
       'pasturehay', 'cultcrop', 'woodywet', 'emergherbwet', 'RPopenwater',
       'RPdevopen', 'RPdevlow', 'RPdevmed', 'RPdevhigh', 'RPbarrenrock',
       'RPdecidforest', 'RPevergrnfor', 'RPmixedforest', 'RPshrubscrub',
       'RPgrassherb', 'RPpasturehay', 'RPcultcrop', 'RPwoodywet',
       'RPemergherbwet', 'Cforest', 'Clowdev', 'Chighdev', 'Cgrass',
       'CPforest', 'CPshrubscrub', 'CPlowdev', 'CPhighdev', 'CPgrass',
       'CPemherbwet', 'CPwoodywet', 'CPopenwater', 'nmds2011.1', 'nmds2011.2',
       'ppt7', 'ppt14', 'ppt21', 'TOWN_y', 'avgT7', 'avgT14', 'avgT21',
       'TOWN'],
      dtype='object')

Write final dataframes to file to read in later for running models

In [231]:
mosdat_LC_clim2.to_csv("/Users/lbrown01/Dropbox/DataScienceStuff/Data/mosdat_LC_clim2.csv", encoding='utf-8', index=False)

Now we have all of the mosquito, climate, and land cover data together for the WNV & EEE models!!